/Documents/NetBeansProjects/JavaApplication14/nbproject/private/
/Documents/NetBeansProjects/accionesdeconducción/nbproject/private/
/Documents/NetBeansProjects/pacticaeliad/nbproject/private/
/Documents/NetBeansProjects/pacticaeliad/build/
/Documents/NetBeansProjects/pacticaeliad/dist/
/Documents/NetBeansProjects/FerreteriaMVC/nbproject/private/
/Desktop/FerreteriaMVCrespaldo/nbproject/private/
